@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-container {
  flex-grow: 1;
}

.navigation {
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;

}

.navigation-logo {
  display: block;
  margin-bottom: -6px;
  position: relative;
  z-index: 2;
}

.page-header-logo {
  object-fit: contain;
  max-width: 100%;
}

.list {
  list-style-type: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  margin: 0;
  padding: 20px 16px;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 8px 50px;
  border-radius: 4px;
  background-color:#756157;

  font-family: inherit;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

.navigation-user {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.navigation-choice .navigation-link {
  padding: 22px 12px;
  min-width: 20px;
  min-height: 20px;
}

.navigation-choice {
  display: flex;
  align-items: center;
}

.heart {
  position: relative;
}

.heart-quantity {
  position: absolute;
  top: 11px;
  right: 4px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #7dB54f;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  line-height: 19px;
}

.hero {
  padding: 51px 371px 82px 371px;
  background-color: #82b3d3;
  background-image: url("../images/vector.svg"), url("../images/index-background.jpg");
  background-size: contain, cover;
  background-position: bottom center;
  background-repeat: no-repeat, no-repeat;
}

.advantages-header {
  text-align: center;
  padding: 69px 20px 69px 20px;
  display: flex;
  flex-direction: column;

}

.title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-title {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 620px;
}

.description {
  line-height: 26px;
  margin: 0;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  background-color: rgba(131, 179, 211, 0.12);
  font-size: 18px;
  text-align: center;
  padding: 103px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 385px;
}

.features-item:nth-of-type(3) {
  background-color: rgba(131, 179, 211, 0.20);
}

.features-item h3 {
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.features-item-town, .features-item-bridge {
  display: flex;
  flex-direction: row;
  background-color: #82b3d3;
  color: #ffffff;
  padding: 0;
  width: 100%;

}

.town-text, .bridge-text {
  padding: 103px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.town-text h3, .bridge-text h3{
  color: #ffffff;
}


.features-description {
  width: 230px;
}

.features-img {
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}

.service-header {
  text-align: center;
  padding: 64px 20px;
}

.service-title {
  margin-bottom: 20px;
}

.service-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

}

.service-item {
  padding: 80px 85px;
  background-color: rgba(131, 179, 211, 0.12);
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
}

.service-item:nth-of-type(2) {
  background-color: #ffffff;
}

.service-item h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.service-description {
  margin: 0;
}

.search {
  padding: 96px 304px;
  text-align: center;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
}

.search-description {
  margin-bottom: 54px;
}

.subscribe {
  padding: 96px 258px 104px 258px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #82b3d3;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}

.subscribe-title {
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  width: 475px;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
}

.field {
  border: none;
  padding: 12px 20px;
  align-items: center;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;
}

.button-subscribe {
  border: none;
  border-radius: 0 4px 4px 0;
  background: #82b3d3;
}

.page-footer {
  padding: 40px 70px 30px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-item {
  width: 48px;
  height: 40px;
}

.social-link {
  display: block;
  padding: 10px;
}

.page-footer-phone-link {
  color: #000000;
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.filter {
  padding: 35px 70px 70px 70px;
  background-color: #82b3d3;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.filter-breadcrumbs {
  display: flex;
  gap: 10px;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
}

.filter-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-left, .filter-right {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.filter-item {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.control-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: 18px;
  line-height: 23px;
  margin: 0;
  padding: 0;
}

.control-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.control-input {
  width: 20px;
  height: 20px;
}

.filter-cost {
  width: 288px;
  display: flex;
  flex-direction: column;
}

.cost {
  display: flex;
  gap: 2px;
  width: 288px;
  margin-bottom: 36px;
}

.cost label {
  width: 143px;
  position: relative;
}

.limit-cost {
  position: absolute;
  top: 12px;
  right: 20px;
  color: #000000;
  opacity: 0.3;
}

.cost-text {
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  background: #f2f2f2;

  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 143px;
  border: none;
}

.cost-text-before {
  border-radius: 0 4px 4px 0;
}

.slider input {
  width: 287px;
  height: 4px;
  color: #ffffff;
}

.filter-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.button-submit {
  border: none;
  background: #82b3d3;
}

.button-reset {
  border: none;
  background: none;
}

.catalog {
  padding: 50px 70px 60px 70px;
}

.catalog-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.catalog-sorting {
  display: flex;
  gap: 70px;
  align-items: center;
}

.catalog-select {
  width: 292px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.catalog-mode {
  display: flex;
  gap: 8px;
}

.button-catalog {
  display: block;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  width: 48px;
  height: 48px;
}

.button-catalog-card {
  border-color: #000000;
}

.catalog-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.catalog-card {
  padding: 20px;
  width: 340px;
  min-height: 438px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.catalog-card-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.catalog-card-image {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.catalog-card-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.catalog-card-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.catalog-card-room {
  font-size: 18px;
  margin: 0;
}

.catalog-card-price {
  font-size: 18px;
  font-weight: 400;
}

.catalog-card-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-card-detail, .button-card-favourit {
  padding: 8px 23px;
}

.button-card-favourit {
  background: #82b3d3;
}

.button-card-added {
  background: #7db54f;
}

.catalog-card-estimation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-rating {
  padding: 9px 22px 8px 23px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #f2f2f2;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.pagination-item {
  min-width: 60px;
  height: 60px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  background: #82b3d3;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.pagination-item:first-of-type, .pagination-item-points {
  background: #f2f2f2;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
}

.pagination-item:first-of-type a, .pagination-link-points {
  color: #000000;
}
